<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="icon" type="image/gif" href="/static/img/favicon.ico"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Neighbourhood Map</title>
</head>
<body>
<div>
    {% include "_nav.html" %}
    {% include "_map.html" %}
</div>

<!-- Container for the List of Location items -->
<div id="all-locations" class="card">
    <h4 class="card-header">My Favourite Places</h4>
    <ul data-bind="foreach: FilteredLocation" class="list-group">
        <li type="btn"class="list-group-item list-group-item-action" data-bind="text: name, click: $parent.kapil"></li>
    </ul>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/static/js/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="/static/js/knockout-3.4.2.js"></script>
<script src="/static/js/styles.js"></script>
<script src="/static/js/models.js"></script>
<script src="/static/js/view.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMSyeAS3WZTxuka46gqlKZSoZCfYmQoGM&callback=LunchApp"
        onerror="googleError()"></script>

</body>
</html>